<div id="<%= dom_id component %>">
  <div>
    <strong>Serial num:</strong>
    <%= component.serial_num %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= component.name %>
  </div>

  <div>
    <strong>Brand:</strong>
    <%= component.brand %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= component.status %>
  </div>

  <div>
    <strong>Computer:</strong>
    <%= component.computer_id %>
  </div>

</div>
