<div id="<%= dom_id computer %>">
  <div>
    <strong>Serial num:</strong>
    <%= computer.serial_num %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= computer.status %>
  </div>

  <div>
    <strong>Brand:</strong>
    <%= computer.brand %>
  </div>

  <div>
    <strong>Team num:</strong>
    <%= computer.team_num %>
  </div>

  <div>
    <strong>Laboratory:</strong>
    <%= computer.laboratory_id %>
  </div>

</div>
