<%= form_with(model: computer) do |form| %>
  <% if computer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
        <% computer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :serial_num, style: "display: block" %>
    <%= form.text_field :serial_num %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :team_num, style: "display: block" %>
    <%= form.number_field :team_num %>
  </div>

  <div>
    <%= form.label :laboratory_id, style: "display: block" %>
    <%= form.text_field :laboratory_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
