<div id="<%= dom_id laboratory %>">
  <div>
    <strong>Lab code:</strong>
    <%= laboratory.lab_code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= laboratory.name %>
  </div>

  <div>
    <strong>Capacity:</strong>
    <%= laboratory.capacity %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= laboratory.location %>
  </div>

</div>
