<div id="<%= dom_id professor %>">
  <div>
    <strong>Professor code:</strong>
    <%= professor.professor_code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= professor.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= professor.email %>
  </div>

  <div>
    <strong>Program:</strong>
    <%= professor.program %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= professor.phone %>
  </div>

</div>
