<div id="<%= dom_id report %>">
  <div>
    <strong>Report code:</strong>
    <%= report.report_code %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= report.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= report.status %>
  </div>

  <div>
    <strong>Report date:</strong>
    <%= report.report_date %>
  </div>

  <div>
    <strong>Professor:</strong>
    <%= report.professor_id %>
  </div>

  <div>
    <strong>Computer:</strong>
    <%= report.computer_id %>
  </div>

  <div>
    <strong>Laboratory:</strong>
    <%= report.laboratory_id %>
  </div>

</div>
